/* Global CSS*/
:root {
  background-image: url(../image/SUNYKorea_AcBldg.jpg);
  background-size: auto;
}

body {
  background-color: transparent !important;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-blue {
  background-color: rgb(70, 143, 238);
}

.blur {
  background-color: hsl(0 0% 100% / 0.2);
}
/* Home css */
.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1); 
}

.course-man {
  height: 40px;
}

/* Nav css */
.nav-item {
  background-color: hsl(0 0% 100% / 0.3);
}

.nav-item .nav-link {
  color: gray;
}

.nav-item .nav-link.active {
  color: black;
}

.nav-item .nav-link:hover {
  color: black;
}

.nav-item .nav-link:active {
  color: black;
}

/* Instructions css */
.pre {
  margin-top : 10px;
  padding: 10px;
}

/* Previous courses css */
.course-list {
  padding-left : 150px;
  padding-right: 150px;
  padding-bottom: 15px;
}

.row {
  padding-bottom : 30px;
}

/* Login css */
#id {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 30vw;
  margin-right: 20vw;

}

#password {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 25vw;
  margin-right: 20vw;

}

.login {
  padding-left: 30px;
  padding-right: 30px;
}

.login-button {
  margin-bottom: 10px;
}